@import url('https://fonts.googleapis.com/css?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Odibee+Sans&display=swap');
@media (min-width: 998px){
	.carousel-caption h5 {
		margin-top: -80px !important;
	}
	.carousel-caption p {
	font-size: 2em !important;
	margin-top: 15px !important;
	margin-bottom: 150px;
	}
	.navbar-nav .ml-auto br{
		margin-top: 400px !important;
	}	
}
.navbar{
	height: 100px;
        padding:0;
        margin:0;
}
.navbar-brand img{
	width:70px;
	height: 70px;
	border:white solid;
	border-width: 2px;
	border-radius: 30%;
	margin-right: 20px;
	margin-left: 20px;
}
.navbar-brand img:hover{
	border: springgreen solid;
	border-width: 2px;
	border-radius: 50%;
	width: 70px;
	height: 70px;
	transition: 1s all;
}
.nav-link {
	font-size: 25px;
	font-family: 'Yanone Kaffeesatz';
	text-align: center;
	margin-right: 50px;
	color: white !important; 
	border-bottom: transparent;
	position: relative;
	z-index: 1;
}
.nav-link:hover {
	overflow: hidden;
	border-bottom: 3px #833ab4 solid;
	margin-bottom: -5px !important;
	transition: .5s all;
}
.nav-link::before {
	content: '';
	position: absolute;
	z-index: -1;
	background-color: rgba(0,0,0,.5);
}
.carousel {
	margin-top: -40px;
}
.carousel::after {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	bottom: 0;
	background-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0)); 

}
.carousel-item {
	width: 100%;
	height:100%;

}
.carousel-caption {
	font-family: 'Yanone Kaffeesatz';
}
.carousel-caption h5 {
	font-size: 650% !important;
	color: #1E2832;
	-webkit-text-stroke-width:3px !important;
	-webkit-text-stroke-color:springgreen !important;
	text-transform: capitalize;
	font-family: 'Lilita One', cursive;
	position: relative;
	transform: translate(-50%, -50%, , 50%, 50%);
	overflow: hidden;
}
.carousel-caption h5:hover {
	font-size: 680% !important;
	border-bottom: 8px white double;
	cursor: pointer;
	transition: 2s all;
	z-index: 1;
}
.carousel-caption p {
	font-size: 2em !important;
	-webkit-text-stroke-color: #900C3F !important;
	-webkit-text-stroke-width: 1px !important;
	font-family: 'Odibee Sans', cursive;
}
.carousel-indicators {
	border-radius: 50% !important;
}
